@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-700 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  height: 100svh;
  display: grid;
  place-content: center;
  background-color: var(--cream);
}

main {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.my-balance-container {
  background-color: var(--soft-red);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 8px;
  padding-inline: 1.2rem 1.4rem;
  padding-block: 1.2rem;

  color: var(--very-pale-orange);
}
.my-balance-container > img {
  width: 3.75rem;
}
.balance-amount {
  font-size: 1.5rem;
}

.balance-text {
  font-size: 0.95rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--very-pale-orange);

  /* inline-size: 21.5rem; */
  padding-inline: 1.2rem;
  padding-block: 1.3rem;
  border-radius: 8px;
}
.main-heading {
  font-size: 1.5rem;
}
.chart-container {
  display: flex;
  text-align: center;
  margin-block-start: 2.5rem;
  padding-block-end: 1.4rem;
  border-bottom: 2px solid var(--cream);
  gap: 0.75rem;
}

.bar-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.bar {
  height: 10rem;
  width: 2.05875rem;
  border-radius: 4px;
  background-color: var(--soft-red);
}

.bar-active {
  background-color: var(--cyan);
}

.day-text {
  color: var(--medium-brown);
  font-size: 0.8rem;
}
.final-results-container {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1.5rem;
}

.total-container,
.percentage-container {
  display: flex;
  flex-direction: column;
}
.percentage-container {
  justify-content: end;
  line-height: 1;
}
.percentage-container > p:first-child {
  margin-inline-start: auto;
  font-size: 0.95rem;
}
.percentage-container > p:last-child {
  line-height: 1.9;
}
.total-container > p:first-child,
.percentage-container > p:last-child {
  color: var(--medium-brown);
  font-size: 0.95rem;
}

.total-amount {
  font-size: 1.9rem;
}
